body {
    background-color: #333333;
    margin: 0;
}

header.main-header {
    background-color: #fff700;
    border-bottom: 4px solid #45b001;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
}

h2, h3 {
    font-family: "Lato", sans-serif;
    color: #0A9BD6;
}

h3 {
    width: 100%;
    text-align: center;
}

main, section {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

#content-container {
    display: none;
}

#object-container {
    background-color: #fff700;
}

/*iframe {*/
    /*margin: 10px;*/
/*}*/

/*#object-container {*/
    /*background-color: transparent;*/
/*}*/

/*iframe #content-container {*/
    /*display: none;*/
/*}*/

/*!*----------*!*/

/*#qdt1 {*/
    /*width: 300px;*/
    /*height: 200px;*/
/*}*/

/*--------------*/
/*.flex-container {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*margin: 0 45px 45px 0;*/
    /*background-color: #353535;*/
/*}*/

/*.qvplaceholder, .qvobject {*/
    /*flex: 1 1 auto;*/
    /*height: 300px;*/
    /*min-width: 400px;*/
    /*margin: 45px 0 0 45px;*/
    /*background-color: #252525;*/
/*}*/

/*#popup {*/
    /*background-color: #c3534b;*/
    /*color: #FFFFFF;*/
    /*position: fixed;*/
    /*max-width: 250px;*/
    /*padding: 10px;*/
    /*margin: 10px;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*display: none;*/
    /*border-radius: 5px;*/
    /*z-index: 6;*/
    /*font-family: sans-serif;*/
/*}*/

/*.close {*/
    /*cursor: pointer;*/
    /*background: 0 0;*/
    /*border: 0;*/
    /*float: right;*/
    /*font-size: 21px;*/
    /*font-weight: 700;*/
    /*line-height: 1;*/
    /*color: #000;*/
    /*text-shadow: 0 1px 0 #fff;*/
    /*opacity: .2;*/
    /*position: absolute;*/
    /*right: 9px;*/
    /*top: 7px;*/
/*}*/

/*.close:hover {*/
    /*opacity: .5;*/
/*}*/

/*#popupText {*/
    /*margin-right: 23px;*/
/*}*/

